.bd-masthead {
    height: 500px;
    padding-bottom: 4rem;
}
.bd-masthead {
    padding-bottom: 2rem;
    padding-top: 8rem;
}
.bd-masthead {
    color: #CDBFE3;
    padding: 3rem 0.9375rem 2rem;
    background: transparent linear-gradient(135deg, #271B38, #563D7C, #7952B3) repeat scroll 0% 0%;
    text-align: center;
}
.bd-masthead, .bd-pageheader .container {
    position: relative;
}
